[Unit]
Description=Hello World HTTP
After=network.target

[Service]
Type=simple
ExecStart=/home/evan/go/src/github.com/coreos/go-systemd/examples/notify_fds/notify_fds

[Install]
WantedBy=multi-user.target
