[Socket]
ListenStream=127.0.0.1:8076
FileDescriptorName=ping

[Socket]
ListenStream=127.0.0.1:8077
FileDescriptorName=pong

[Install]
WantedBy=sockets.target
