[Unit]
Description=Hello World HTTP
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/notify_fds

[Install]
WantedBy=multi-user.target
